.header {
  align-items: center;
  background-color: aquamarine;
  border-radius: 37.5px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 75px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  height: 75px;
  justify-content: center;
  margin: 0 5px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.avatar-picture {
  border-radius: 50%;
  display: grid;
  left: 0;
  grid-column: 1;
  position: relative;
  width: 75px;
}

.page-title {
  display: grid;
  grid-column: 2;
}

.search-input {
  display: grid;
  grid-column: 3;
  justify-self: flex-start;
  margin: 0;
  width: 70%;
}
