.home-container {
  justify-content: center;
  margin: 0 auto;
  max-width: 390px;
  max-height: 844px;
}

.categories {
  display: grid;
  justify-content: center;
  width: 100%;
}

.categories-container {
  display: grid;
  gap: 10px;
  justify-content: start;
  grid-template-columns: auto auto auto auto auto auto;
  margin: 100px auto;
  width: 100%;
  justify-self: center;
}

.category {
  font-size: 12px;
  padding: 5px;
  width: 95%;
  display: grid;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
}

.category:hover {
  background-color: lightslategray;
  cursor: pointer;
}

.meal {
  height: 50%;
  width: 100%;
}

.meal-container {
}
