* {
  margin: 0;
  padding: 0;
}

main {
  align-self: center;
  display: grid;
  height: 100%;
  left: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.form-container {
  align-items: center;
  background-color: #f1f1f1;
  display: grid;
  justify-content: stretch;
  padding: 10px;
  margin: 0 auto;
  width: 390px;
}

.form {
  background-color: white;
  border-radius: 20px;
  display: grid;
  height: 80%;
  justify-content: center;
  justify-self: center;
  padding: 10px;
  row-gap: 10px;
  text-align: center;
  width: 80%;
}

.app-title {
  align-self: center;
}

.email-input {
  align-self: flex-end;
  border: 1px solid grey;
  border-radius: 10px;
  height: 40px;
  padding: 0 2px;
  width: calc(100% - 3px);
}

.email-input:focus {
  outline-color: black;
}

.password-input {
  align-self: flex-start;
  border: 1px solid grey;
  border-radius: 10px;
  height: 40px;
  padding: 0 2px;
  width: calc(100% - 3px);
}

.login-button {
  align-items: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: grid;
  justify-self: center;
  height: 50px;
  text-align: center;
  width: 80%;
}

.login-button:enabled {
  background-color: #f1f1f1;
}

.login-button:enabled:hover {
  border: 1px solid black;
}
